  
 <div class="alert alert-info" role="alert">
     Article Vault
</div>
 
 
 
 {{#each article}}
 {{#if saved}}
<div class="card" style="width:40rem;">
  <h5 class="card-header">written by {{author}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <img src={{image}} height=300 width=550> </img>
     <p class="card-text"><small class="text-muted"><a href={{link}}>[View Article]</a></small></p>
    <button type="button" class="btn btn-success float-right comments" id="{{_id}}">Leave comments</button><button type="button" class="btn btn-primary float-right deleted" id="{{_id}}">Deleted </button>
   
  
  </div>
</div>
{{/if}}
{{/each}}


<div id="articles"></div>
<div id="notes"></div>